<div class="container mainpage">
  <div class="row text-center">
    <div class="left-panel">
      <div class="col-md-4" ng-repeat="board in boards | orderBy:uploadDate:true | limitTo:6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="thumbnail">
              <a href="#"><img src="https://source.unsplash.com/category/technology/1600x900" alt=""/></a>
            </div>
            <!-- a태그를 빼면 된다. -->
            <a href="#">
              <h3>{{board.title}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
