<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login via site</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form" name="form" ng-submit="submit()" novalidate>
            <fieldset>
              <div class="input-group margin-bottom-sm" ng-class="{'has-error' : form.email.$invalid && !form.email.$pristine}">
                <span class="input-group-addon">
                  <i class="fa fa-envelope-o fa-fw"></i>
                </span>
                <input class="form-control" type="text" placeholder="Email address" required autofocus ng-model="user.email">
              </div>
              <div class="input-group" ng-class="{'has-error' : form.password.$invalid && !form.password.$pristine}">
                <span class="input-group-addon">
                  <i class="fa fa-key fa-fw"></i>
                </span>
                <input class="form-control" type="password" placeholder="Password" required ng-model="user.password">
              </div>

              <div class="checkbox">
                <label>
                  <input name="remember" type="checkbox" value="Remember Me">
                  Remember Me
                </label>
                <a class="pull-right" href="http://bootsnipp.com/password">Forgot password?</a>
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
            </fieldset>
          </form>
          <hr/>
          <center>
            <!-- <h4>OR</h4> -->
          </center>
          <!-- <input class="btn btn-lg btn-facebook btn-block" ng-click="test()" value="Login via facebook"> -->
          <input class="btn btn-lg btn-signup btn-block" ng-click="signUp()" value="Sign Up">
        </div>
      </div>
    </div>
  </div>
</div>
