<h4>use ngModel to synchronize the value</h4>
  <div class="example">
    <summernote height="300" ng-model="text" on-change="change(contents)"
                on-image-upload="imageUpload(files)"
                editable="editable" editor="editor"></summernote>

    <br>
    <!-- <textarea type="text" ng-model="text" style="width:100%;"></textarea><br>
    text : {{text}} -->
  </div>

<div ng-bind-html="divHtmlVar"></div>
<input type="file" id="filetd">
<input type="button" name="업로드" ng-click="uploadBoard()">
